[Unit]
Description=Ceph object storage daemon osd
After=network-online.target

[Service]
Environment=CLUSTER=ceph
ExecStart=/cloudtrust/ceph-scripts/ceph/osd.sh
ExecReload=/bin/kill -HUP $MAINPID
TasksMax=infinity

[Install]
WantedBy=multi-user.target

