[Unit]
Description=Ceph object storage daemon osd
After=network-online.target

[Service]
EnvironmentFile=/etc/sysconfig/ceph/ceph-osd
ExecStart=/etc/sysconfig/ceph/osd.sh
ExecReload=/bin/kill -HUP $MAINPID
TasksMax=infinity

[Install]
WantedBy=multi-user.target

