[Unit]
Description=Ceph object storage daemon mon
After=network-online.target

[Service]
Environment=CLUSTER=ceph
ExecStart=/etc/sysconfig/ceph/mon.sh
ExecReload=/bin/kill -HUP $MAINPID
TasksMax=infinity

[Install]
WantedBy=multi-user.target
